# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django-related
db.sqlite3
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
instance/

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Virtual environment
venv/
env/
venv.bak/
.env.bak/

# Static and media files (if generated dynamically)
staticfiles/
media/

# Django migrations
*/migrations/* 
!*/migrations/__init__.py

# IDE and Editor specific files
.vscode/
.idea/
*.swp
*.swo

# Docker
*.envrc
.dockerignore
docker-compose.override.yml

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# MyPy
.mypy_cache/

# Celery
celerybeat-schedule
celerybeat.pid

# Jupyter Notebook
.ipynb_checkpoints

# Deployment / Build
build/
dist/
*.egg-info/
